.conteiner-big-card{
  margin-left: 30px;
  margin-right: 30px;
  height: 500px;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card-image > img{
  width:100%;
  min-width: 400px;
}

.big-card-title > h2 {
  margin-top: 15px;
  padding-left: 5px;
  font-size:20px;
  font-weight: bold;
}

.big-card-text{
  margin-top: 15px;
  padding-left: 5px;
}

.big-card-text > p > a{
  color:rgb(126, 124, 124);
}
