.container-title{
  color: white;
}

.container-title > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 130px;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
}

.container-title > hr {
  margin-top: 20px;
  margin-bottom: 8px;
}


