.small-card{
  width: 700px;
  height: 200px;
}

.conteiner-small-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.small-card-image{
  margin-right: 15px;
}

.small-card-image > a > img {
  width: 200px;
  min-width: 200px;

}

.small-card-text > a > h3{
  font-size: 22px;
  font-weight: 500;
}

.small-card-separator{
 margin-bottom: 10px;
}
